---
import "../styles/global.css";

const API_KEY = import.meta.env.NASA_API_KEY;
const NASA_URL = `https://api.nasa.gov/planetary/apod?api_key=${API_KEY}`;
const MARS_URL = `https://api.nasa.gov/insight_weather/?api_key=${API_KEY}&feedtype=json&ver=1.0`;

const response = await fetch(NASA_URL);
const data = await response.json();

const MarsResponse = await fetch(MARS_URL);
const MarsData = await MarsResponse.json();

const lastSol = MarsData.sol_keys[0];
const solData = MarsData[lastSol];
---

<main class="mx-auto container">
  <a href="/"
    ><button
      class="p-3 my-2 bg-red-200 rounded-full cursor-pointer hover:bg-red-300 duration-300"
      >Return</button
    ></a
  >
  <section class="bg-red-100 p-6 my-6 rounded-4xl">
    <div class="text-center font-bold">
      <h1 class="text-4xl">Picture of the day</h1>
      <h2 class="text-xl">{data.title}</h2>
      <span class="text-neutral-400">{data.date}</span>
    </div>
    {
      data.media_type === "image" ? (
        <img
          src={data.url}
          alt={data.title}
          width="600"
          class="rounded-2xl mx-auto my-5"
        />
      ) : (
        <iframe width="600" height="400" src={data.url} />
      )
    }

    <p class="font-light">{data.explanation}</p>
  </section>
  <h1>Mars Weather</h1>
  {
    !solData ? (
      <p>No Mars weather data available (InSight API ended in 2022).</p>
    ) : (
      <>
        <p>Last Sol: {lastSol}</p>
        <p>Earth Date: {new Date(solData.First_UTC).toDateString()}</p>
        <p>Average Temp: {solData.AT?.av ?? "N/A"} °C</p>
      </>
    )
  }
</main>

<section class="flex justify-center gap-10 my-20">
  <div class="hover-3d">
    <!-- content -->
    <figure class="w-60 rounded-2xl">
      <img
        src="https://img.daisyui.com/images/stock/card-1.webp?x"
        alt="Tailwind CSS 3D card"
      />
    </figure>
    <!-- 8 empty divs needed for the 3D effect -->
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="hover-3d">
    <!-- content -->
    <figure class="w-60 rounded-2xl">
      <img
        src="https://img.daisyui.com/images/stock/card-2.webp?x"
        alt="Tailwind CSS 3D hover"
      />
    </figure>
    <!-- 8 empty divs needed for the 3D effect -->
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="hover-3d">
    <!-- content -->
    <figure class="w-60 rounded-2xl">
      <img
        src="https://img.daisyui.com/images/stock/card-3.webp?x"
        alt="Tailwind CSS 3D hover"
      />
    </figure>
    <!-- 8 empty divs needed for the 3D effect -->
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</section>
